* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: #9caead #283b49;
    scrollbar-width: thin;
  }
  html {
    scroll-behavior: smooth;
  }  
  body {
    background-color: #051623;
    color: #e8d6c3;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: url("https://raw.githubusercontent.com/sahill01/icons/main/icons/BG_pattern.jpg");
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    overflow-x: hidden;
    max-width: 100%;
  }
  li{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  header {
    position: relative;
    width: 100%;
  }

/* NavBar */
  nav {
    background-color: #789796; 
    width: 100%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a{
    text-decoration: none;
    color: #133148;
    font-weight: 400;
  }
  nav .center a{
    font-size: 2rem;
    font-weight: bold;
    margin-left: 15vh;
    color: #133148;
  }
  nav .left ul{
    display: flex;
    gap: 3rem;
  }
  .left a {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
  }
  .left a:hover {
    color: white;
    transform: scale(1.1);
  }
  nav .right ul{
    display: flex;
    gap: 2rem;
    margin-right: 15vh;
  }
  .right a {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
  }
  .right a:hover {
    transform: scale(1.2);
  }
  nav .toggle_btn{
    color: #133148;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 8%;
    display: none;
  }
  hr {
    border: 0;
    background: #789796;
    height: 0.2vh;
    margin: 4% 8% 2%;
    overflow-x: hidden;
  }

/* NavBar Ends */



/* DropDown Menu */
  .dropdown_menu{
    display: none;
    position: absolute;
    right: 1rem;
    top: 80px;
    height: 0;
    width: 300px;
    background: rgb(113 217 227 / 26%);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    z-index: 1;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .dropdown_menu.open{
    height: 380px;
  }
  .dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #133148;
  }
  .dropdown_menu li a{
    color: #a0d8d6;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
  }
  .dropdown_menu li:hover {
    color: white;
    transform: scale(1.1);
  }
  .dropdown_menu .dhr{
    background: #789796;
  }



  .firstSection {
    display: flex;
    justify-content: space-around;
    margin: 0 7%;
    align-items: center;
  }
  .firstSection h1 {
    color: #789796;
    font-size: 2.8rem;
    margin-bottom: 2vh;
  }
  /* .firstSection > div {
    width: 100%;
  } */
  .leftSection {
    margin-top: 15vh;
    margin-left: 50px;
    font-size: 1.7rem;
  }
  .leftSection img {
    height: 2rem;
    align-items: center;
    margin: 0 1vh 0 0;
  }
  .rightsection {
    margin-top: 15vh;
    margin-right: 10%;
    grid-area: right-section;
  }
  .leftSection .p3{
    color: rgb(246, 179, 190);
  }
  .lower span{
    font-weight: 400;
  }
  .name {
    font-family: 'Great Vibes', cursive;
    color: rgb(254, 144, 163);
    font-size: 4.6rem;
    margin-left: 20vh;
    grid-area: nameSect;
  }
  #element {
    color: rgb(246, 179, 190);
  }
  .profile-img {
    background-image: url("/icons/me.jpg");
    width: 20rem;
    height: 20rem;
    margin-left: 15%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 3px solid #789796;
    border-image-slice: 1;
    border-image-repeat: repeat;
    border-image-width: 100%;
    animation: morph 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    position: relative;
    transition: all 1s ease-in-out;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
    will-change: transform;
  }
  @keyframes morph {
    0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
  }
  .leftSection .upper{
    grid-area: left-upper;
  }
  .leftSection .lower{
    grid-area: left-lower;
  }
  .firstSection{
    padding: 1px 15px 15px 60px;
    display: grid;
    grid-template-columns: 10fr 6fr;
    grid-gap: 10px;
    grid-template-areas: 'left-upper right-section'
                          'left-lower right-section';

  }
  





  .skills{
    margin: auto;
    margin-top: 8vh;
    display: grid;
    justify-content: center;
  }
  .Arsenal {
    color: rgb(249, 153, 169);
    display: inline-block;
    position: relative;
    /* align-items: center;
    justify-content: center; */
    font-weight: 350;
    font-size: 5vh;
    /* line-height: 50px; */
    margin-top: 2.1vh;
    margin-right: 8vh;
    padding-right: 3.5vh;
    border-right: 3px solid rgba(255, 255, 255, 0.5);
    grid-area: arsenal;
  }
  .skills logos{
    grid-area: logos;
  }
  .skills{
    grid-template-areas: 'arsenal logos';
  }

  .skills ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
  }
  .skills ul li {
    align-items: center;
    background-color: #496464;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.09);
    cursor: pointer;
    display: flex;
    height: 7vh;
    width: 7vh;
    justify-content: center;
    margin: 1vh 1.8vh;
    animation: glowing 1s infinite;
  }
@keyframes glowing {
  0% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
  }
  100% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
  }
}
.skills ul li:hover {
  transform: scale(1.2);
}



.about_container{
  width: 100%;
  padding: 50px 8%;
  overflow-x: hidden;
}
.imagesection{
  grid-area: imageSect;
}
.infosection{
  grid-area: infoSect;
}
.qualitiesSection{
  grid-area: qualitiesSect;
}
.about_container .about_contents{
  padding: 1px 15px 15px 60px;
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-gap: 70px;
  grid-template-areas: 'imageSect infoSect'
                        'qualitiesSect qualitiesSect';
}
.about_contents .imagesection{
  margin-top: 35px;
  position: relative;
  min-width: 300px;
  height: 280px;
}
.imagesection img{
  width: 96%;
  height: 96%;
  object-fit: cover;
  position: relative;
  z-index: 2;
}
.about_contents .imagesection::after{
  position: absolute;
  content: '';
  width: 96%;
  height: 96%;
  outline: 3px solid #789796;
  top: 15px;
  left: 15px;
  z-index: 1;
}
.infosection h1{
  color: rgb(249, 153, 169);
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 5px;
  position: relative;
}
.infosection h1::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  top: 110%;
  left: 0;
  background-color: #9ca4aa;
}
.infosection h1::after{
  content: '';
  position: absolute;
  width: 65%;
  height: 3px;
  top: calc(110% - 1px);
  left: 0px;
  background-color: #789796;
}
.infosection h2{
  color: rgb(226, 191, 197);
  font-size: 23px;
  font-weight: 400;
  padding: 10px 0 10px;
  text-transform: capitalize;
}
.infosection p{
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  padding-bottom: 20px;
}
.personalInfo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 20px;
  padding-bottom: 35px;
  border-bottom: 1.5px solid #789796;
}
.personalInfo div{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.infosection .copy-button{
  padding: 2px;
  background: none;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 30px;
}
.copy-button {
  display: inline-block;
  margin-left: 1vh;
  transition: transform 0.3s;
}
.copy-button:hover{
  transform: scale(1.2);
}
.copy-text{
  display: flex;
  position: absolute;
  margin-left: 15vh;
}
.check-icon {
  display: none;
  margin-left: 1.5vh;
  margin-top: 0.5vh;
}
.infosection .download-button{
  min-width: 150px;
  padding: 8px 18px;
  border: 2px solid #49908e;
  border-radius: 25px;
  font-size: 18px;
  background-color: transparent;
  color: whitesmoke;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all .5s;
  margin-top: 20px;
}
.download-button a{
  text-decoration: none;
  color: whitesmoke;
  transition: all .5s;
}
.download-button:hover{
  border-color: whitesmoke;
}
.download-button:hover a{
  color: #49908e;
}
.qualitiesSection{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 80px;
}
.qualitiesSection .subject{
  font-size: 17px;
  font-weight: thin;
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.progress_bar{
  width: 100%;
  height: 16px;
  background-color: transparent;
  padding: 4px 6px;
  border-top: 2px solid #000;
  border-bottom: 1.5px solid #444;
  border-radius: 15px;
}
.progress_line{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #789796;
  box-shadow: -1px -1px 2px #222222,
               1px 1px 2px #111111;
  border-radius: 15px;
}
.progress_line::after{
  position: absolute;
  content: attr(value);
  top: -35px;
  right: 0px;
  transform: translateX(-50%);
  font-size: 15px;
  font-weight: 400;
}




.timeline_container{
  max-width: 80%;
  margin: auto;
  padding: 2rem;
  padding-bottom: 70px;
  margin: 0 auto;
  /* min-width: 800px; */
  overflow-x: hidden;
}
.top-section{
  text-align: center;
  padding: 1rem 0 4rem;
  /* min-width: 600px; */
  margin: 0 auto;
}
.top-section h1{
  margin-top: 1vh;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgb(249, 153, 169);
  display: inline-block;
  margin-bottom: 5px;
  position: relative;
}
.top-section h1::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  top: 110%;
  left: 0;
  background-color: #9ca4aa;
}
.top-section h1::after {
  content: '';
  position: absolute;
  width: 70%;
  height: 3px;
  top: calc(110% - 1px);
  left: 0px;
  background-color: #789796;
}
.top-section p{
  margin: 2vh;
}
.timeline{
  display: grid;
  position: relative;
  min-height: 150px;
}
.line{
  position: absolute;
  z-index: 2;
  left: calc(50% - 1px);
  width: 2px;
  top: 0;
  bottom: 0;
  background-color: #49908e;
  /* grid-area: theLine; */
}
.line:before,
.line:after{
  position: absolute;
  display: block;
  content: '';
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #49908e;
  left: 50%;
  transform: translateX(-50%);
}
.line:after{
  bottom: 0;
}
.section{
  display: flex;
  opacity: 0;
  transform: translateX(-100%);
  transition: 600ms ease;
  position: relative;
  z-index: 1;
  margin: 20px 0;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  min-height: 250px;
}
.section:nth-child(odd){
  flex-direction: row-reverse;
  transform: translateX(100%);
}
.bead{
  position: absolute;
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #49908e;
  left: calc(50% - 7.5px);
  top: 50%;
  transform: translateX();
  z-index: 3;
}
.tcontent{
  width: calc(50% - 2rem);
}
.tcontent h2{
  color: rgb(255, 176, 189);
  font-size: 23px;
  font-weight: 300;
}
.tcontent .info{
  margin: 0;
  font-size: 13px;
  font-weight: 350;
  color: rgb(255, 216, 224);
}
.tcontent p{
  margin: 1.1vh 0;
  font-size: 14px;
  color: white;
  justify-content: space-around;
}
.tcontent span{
  font-weight: 350;
  font-size: 16px;
  color: #7ebdbb;
  text-decoration: underline;
}
.tcontent .credentials{
  display: flex;
  justify-content: center;
}
.credentials a{
  color: whitesmoke;
}
.tcontent .cert-button{
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 5px 15px;
  border: transparent;
  font-size: 12px;
  word-break: break-all;
  background-color: transparent;
  color: whitesmoke;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 15px;
  text-transform: uppercase;
}
.cert-button img{
  height: 16px;
  margin-left: 10px;
  background-color: #789796;
  padding: 2px;
  border-radius: 3px;
}
.show-me:nth-child(n){
  transform: none;
  opacity: 1;
}
.final-words p{
  margin-top: 75px;
}
.final-words span{
  font-weight: 350;
  font-size: 17px;
  color: #7ebdbb;
  text-decoration: underline;
}





.contact {
  background-color: #789796;
  /* padding: 5vh 0 3vh;
  margin: 1vh 0 0; */
}
.contact_container {
  padding: 1vh 10vh;
  text-decoration: none;
}
.contact_content {
  display: flex;
  flex-direction: column;
}

.contact_title h3 {
  font-size: 1.5rem;
  color: rgb(223, 219, 219);
}
.contact_title p {
  font-size: 30px;
  font-weight: 700;
  margin: 1vh 0;
  text-transform: uppercase;
  color: #133148;
}
.contact_icons {
  display: flex;
  flex-wrap: wrap;
  gap: 8vh;
  margin-top: 5vh;
  margin-left: 5vh;
  max-width: 100%;
}
.contact_icon-box {
  flex: 1 0 40%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: rgb(223, 219, 219);
}
.contact_info a{
  text-decoration: none;
  color: rgb(223, 219, 219);
}
.contact_info a:hover, .contact_info p:hover {
  color: #147efb;
  transition: all .3s;
}
.contact_icon-box span img{
  height: 5.5vh;
  width: 5.5vh;
}
.contact_info{
  display: flex;
  flex-direction: column;
  gap: 0.2vh;
}
.sprofiles {
  margin-top: 5vh;
}
.sprofiles ul{
  display: flex;
  align-items: center;
  padding: 0 40%;
  position: sticky;
  overflow-x: hidden;
}
@media (max-width: 730px) {
  .sprofiles ul{
    padding: 0 30%;
  }
}
@media (max-width: 470px) {
  .firstSection .upper h1 {
    font-size: 1.8rem;
}
  .lower .name{
    font-size: 2.5rem;
  }
  .leftSection .lower p {
    font-size: 15px;
}
.skills .logos li {
  height: 3.8vh;
  width: 3.8vh;
  margin: 1vh 0.9vh;
}
/* .skills .Arsenal {
  width: 160px;
  margin-left: 18%;
} */

  .sprofiles ul{
    padding: 0 25%;
  }

  .contact_content .contact_icons {
    margin: 0;
    padding: 15px 60px;
    gap: 4vh;
}
.sprofiles {
  margin-top: 3vh;
}

.personalInfo .about_info {
  margin-left: 1vh;
}
.personalInfo .copy-text {
  margin-left: 7vh;
}
}


.sprofiles a{
  margin-left: 3vh;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}
.sprofiles a:hover {
  transform: scale(1.1);
}
.back-to-top {
  position: absolute;
  right: var(--bs-gutter-x, 4rem);
}
.back-to-top a {
  margin-top: -3vh;
  width: 60px;
  height: 60px;
  background: #5f9d9b;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 8px 15px rgba(0, 0, 0, 2);
}





footer{
  padding: 2vh 0;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 12.5px;
}
.footerc {
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: rgb(223, 219, 219);

}
.footer-name{
  font-family: 'Dancing script', cursive;
  font-size: 30px;
  padding-left: 1vh;
}


  

@media(max-width: 1484px) {
  .name {
    font-size: 4rem;
  }
  .leftSection p{
    font-size: 25px;
    margin-top: 1px;
  }
}
@media(max-width: 1405px){
  .rightsection{
    margin-top: 17vh;
    margin-right: 0;
  }
  .about_container .about_contents{
    grid-template-areas: 'imageSect qualitiesSect'
                          'infoSect infoSect';
  }
  .qualitiesSection{
    grid-template-columns: 1fr ;
    grid-gap: 20px;
  }
  .Arsenal {
    font-size: 3.5vh;
    margin-top: 2.8vh;
    margin-right: 3vh;
    padding-right: 2vh;
  }
  .skills ul li {
    height: 6vh;
    width: 6vh;
    margin: 1vh 1.5vh;
  }
}
@media (max-width: 1214px) {
  .profile-img {
    width: 18rem;
    height: 18rem;
    margin-left: 10%;
  }
  .rightsection{
    margin-top: 15vh;
    margin-right: 0;
  }
  .firstSection h1 {
    font-size: 2.5rem;
  }
  .name{
    font-size: 2.9rem;
    margin-left: 4vh;
  }
  .leftSection p{
    font-size: 19px;
    margin-top: 1px;
  }
  .leftSection img {
    height: 1.5rem;
    margin: 0 1vh 0 1vh;
  }
  .nav ul a {
    font-size: 10rem;
  }
  /* .left {
    margin-left: 5vh;
    font-size: 0.9rem;
  }
  .right{
    margin-right: 5vh;
  } */
}
@media(max-width: 1000px){
  
  nav .center a{
    font-size: 1.9rem;
    margin-left: 10vh;
  }
  nav .right ul {
    gap: 1.8rem;
    margin-right: 10vh;
}
.firstSection h1 {
  font-size: 2rem;
}
.name {
  font-size: 2.6rem;
  margin-left: 3.5vh;
}
  .profile-img {
    width: 15rem;
    height: 15rem;
    /* margin-left: 7%;
    margin-top: 15%; */
  }
  .rightsection{
    margin-top: 10vh;
    margin-right: 3vh;
  }
  .personalInfo{
    grid-template-columns: 1fr;
    grid-gap: 13px ;
  }
  .personalInfo div{
    display: flex;
  }
  .about_info{
    margin-left: 5vh;
  }
  .copy-text {
    margin-left: 13vh;
  }
  .contact_icons{
    left: 42%;
    margin: 5vh 5vh 1vh 5vh;
  }
  .timeline_container {
    max-width: 90%;
}
.Arsenal {
  font-size: 3vh;
  margin-right: 2.5vh;
  padding-right: 1.5vh;
}
.skills ul li {
  height: 5vh;
  width: 5vh;
  margin: 1vh 1.2vh;
}
}
@media(max-width: 958px){
  .about_container .about_contents{
    grid-template-areas: 'imageSect imageSect'
                          'infoSect infoSect'
                          'qualitiesSect qualitiesSect';
  }
}
@media (max-width: 900px) {

  .firstSection h1 {
    font-size: 1.4rem;
  }
  
  .name{
    font-size: 2.5rem;
  }
  .leftSection p{
    font-size: 14px;
    margin-top: 1px;
  }
  .profile-img {
    width: 11rem;
    height: 11rem;
  }
  nav .center a{
    font-size: 1.7rem;
  } 
  nav .left {
    font-size: 0.9rem;
  }
  nav .left ul{
    gap: 1.5rem;
  }
  nav .right ul{
    gap: 1.5rem;
    margin-right: 10vh;
  }

  .infosection h1 {
    font-size: 25px;
  }
  .infosection h2 {
    font-size: 20px;
  }
  .infosection p {
    font-size: 14px;
  }
  .personalInfo span{
    font-size: 14px;
  }
  .qualitiesSection .subject{
    font-size: 16px;
  }

  .top-section h1 {
    font-size: 25px;
  }
  .top-section p {
    font-size: 14px;
  }
  .tcontent h2 {
    font-size: 20px;
  }
  .tcontent p {
    font-size: 14px;
  }
  .tcontent span {
    font-size: 14px;
  }

  .contact_title h3 {
    font-size: 1.4rem;
  }
  .contact_title p {
    font-size: 1.5rem;
  }
  .skills{
    margin-top: 3vh;
  }
  .Arsenal {
    font-size: 2.8vh;
    margin-right: 2.2vh;
    padding-right: 1.5vh;
  }
  .skills ul li {
    height: 5vh;
    width: 5vh;
    margin: 1vh 1.2vh;
  }
}

@media(max-width: 818px){
  nav .center a{
    font-size: 1.5rem;
    margin-left: 7vh;
  } 
  nav .right ul{
    gap: 1.3rem;
    margin-right: 5vh;
  }
  .contact_title h3 {
    font-size: 1rem;
  }
  .contact_title p {
    font-size: 1.3rem;
  }
  .contact_info h3{
    font-size: 1rem;
  }
  .contact_info p{
    font-size: 0.9rem;
  }
  .contact_icon-box span img {
    height: 4.5vh;
    width: 4.5vh;
}
}

@media (max-width: 690px) {
  nav .left,
  nav .right{
    display: none;
  }
  nav .toggle_btn{
    display: block;
  }
  .dropdown_menu{
    display: block;
  }
  
  .firstSection{
    margin: 0 5%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 10fr;
    grid-gap: 0px;
    grid-template-columns: 100fr;
    grid-template-areas: 'left-upper left-upper'
                          'right-section right-section'
                          'nameSect nameSect'
                          ' left-lower left-lower';
  }
  .firstSection h1{
    font-size: 2rem;
  }
  .name{
    font-size: 3.5rem;
    margin-left: 2vh;
  }
  .leftSection {
    margin-top: 6vh;
    margin-left: 0;
}
  .leftSection p{
    font-size: 20px;
    margin-top: 1.4px;
  }
  .leftSection .lower{
    margin-top: 20px;
  }
  .rightsection {
    margin-top: 6vh;
}
  .profile-img{
    width: 15rem;
    height: 15rem;
    margin-left: 0;
  }

  .skills{
    grid-template-areas: 'arsenal arsenal '
                          'logos logos';
  }
  .Arsenal {
    border-right: none;
    /* text-decoration: 1.1px solid underline #6dc8c5; */
    margin-left: 5%;
  }
  .Arsenal::before {
    content: '';
    position: absolute;
    width: 25%;
    height: 1px;
    top: 110%;
    left: 0px;
    background-color: #9ca4aa;
}
.Arsenal::after {
  content: '';
  position: absolute;
  width: 16%;
  height: 3px;
  top: calc(126% - 7px);
  left: 0;
  background-color: #789796;
}

  .about_container .about_contents {
    padding: 0;
}

  .section:nth-child(odd){
    flex-direction: row;
    /* transform: translateX(100%); */
  }
  .line{
    left: calc(100% - 10px);
  }
  .bead{
    left: calc(100% - 17px);
  }
  .tcontent{
    width: calc(100% - 25px);
  }
  .final-words p {
    font-size: 14px;
    margin-top: 110px;
}
}

@media (max-width: 576px) {
  .dropdown_menu{
    left: 1rem;
    width: unset;
  }
  .element-tag{
    font-size: 14px;
  }

  .infosection h1 {
    font-size: 20px;
  }
  .infosection h2 {
    font-size: 18px;
  }
  .infosection p {
    font-size: 12px;
  }
  .personalInfo span {
    font-size: 12px;
  }

  .top-section h1 {
    font-size: 20px;
  }
  .top-section p {
    font-size: 12px;
  }
  .tcontent h2 {
    font-size: 18px;
  }
  .tcontent p {
    font-size: 12px;
  }
  .tcontent span {
    font-size: 12px;
  }
  .final-words p {
    font-size: 12px;
  }
  .final-words span {
    font-size: 13px;
  }

  .contact_container {
    padding: 0;
}
.contact_title{
  padding: 0 20px;
}
}