* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: #9caead #283b49;
    scrollbar-width: thin;
  }
  html {
    scroll-behavior: smooth;
  }  
  body {
    background-color: #051623;
    color: #e8d6c3;
    font-family: "Poppins", sans-serif;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: url("https://raw.githubusercontent.com/sahill01/icons/main/icons/BG_pattern.jpg");
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    overflow-x: hidden;
  }
  li{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  header {
    position: relative;
    width: 100%;
    /* padding: 0 2rem; */
  }

/* NavBar */
  nav {
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    height: 11vh;
    width: 100%;*/
    background-color: #789796; 
    width: 100%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a{
    text-decoration: none;
    color: #133148;
  }
  nav .center a{
    font-size: 2rem;
    font-weight: bold;
    margin-left: 15vh;
    color: #133148;
  }
  nav .left ul{
    display: flex;
    gap: 3rem;
  }
  .left a {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
  }
  .left a:hover {
    color: white;
    transform: scale(1.1);
  }
  nav .right ul{
    display: flex;
    gap: 2rem;
    margin-right: 15vh;
  }
  .right a {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
  }
  .right a:hover {
    transform: scale(1.2);
  }
  nav .toggle_btn{
    color: #133148;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 8%;
    display: none;
  }
  /* nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav a {
    text-decoration: none;
    color: #133148;
  }
  ul li {
    list-style: none;
    margin: 0 1rem;
  } */
  hr {
    border: 0;
    background: rgb(246, 179, 190);
    height: 0.1vh;
    margin: 4% 8% 2%;
    overflow-x: hidden;
  }
  /* .left {
    margin-left: 10vh;
  }
  .center {
    position: absolute;
    left: 46%;
    font-size: 2.5rem;
    font-weight: 300;
  }
  .right {
    margin-right: 15vh;
  }
  
  .hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 9999;
  display: none;
}
.hamburger span {
  width: 30px;
  height: 4px;
  background-color: #133148;
  margin-bottom: 6px;
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9998;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
}
.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu ul li {
  margin-bottom: 10px;
}
.menu ul li a {
  color: #133148;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
.menu-overlay.show {
  width: 100%;
}
.menu.show {
  transform: translateX(0);
} */

/* NavBar Ends */



/* DropDown Menu */
  .dropdown_menu{
    display: none;
    position: absolute;
    right: 1rem;
    top: 80px;
    height: 0;
    width: 300px;
    background: rgb(113 217 227 / 26%);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    z-index: 1;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .dropdown_menu.open{
    height: 380px;
  }
  .dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #133148;
  }
  .dropdown_menu li a{
    color: #a0d8d6;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
  }
  .dropdown_menu li:hover {
    color: white;
    transform: scale(1.1);
  }
  .dropdown_menu .dhr{
    background: #789796;
  }



  .firstSection {
    display: flex;
    justify-content: space-around;
    margin: 1vh 0vh 1vh 10vh;
    align-items: center;
  }
  .firstSection h1 {
    color: #789796;
    font-size: 3rem;
    margin-bottom: 2vh;
  }
  .firstSection > div {
    width: 80%;
  }
  .leftSection {
    margin-top: 5%;
    margin-left: 10%;
    font-size: 1.7rem;
  }
  .leftSection img {
    height: 2rem;
    align-items: center;
    margin: 0 1vh 0 0;
  }
  .element-tag{
    margin-top: -3vh;
  }
  .rightsection {
    margin-right: 5vh;
    margin-top: 20vh;
  }
  .name {
    font-family: 'Great Vibes', cursive;
    color: rgb(249, 153, 169);
    font-size: 5.5rem;
    margin-left: 5vh;
  }
  #element {
    color: rgb(246, 179, 190);
  }
  .profile-img {
    background-image: url("/icons/me.jpg");
    width: 20rem;
    height: 20rem;
    margin-left: 15%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 3px solid #789796;
    border-image-slice: 1;
    border-image-repeat: repeat;
    border-image-width: 100%;
    animation: morph 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    position: relative;
    transition: all 1s ease-in-out;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
    will-change: transform;
  }
  @keyframes morph {
    0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
  }




  .skills {
    max-width: 80vw;
    margin: auto;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
  }
  .Arsenal {
    font-weight: 350;
    font-size: 5vh;
    margin-top: 2.1vh;
    margin-right: 8vh;
    padding-right: 3.5vh;
    border-right: 3px solid rgba(255, 255, 255, 0.5);
  }
  .skills ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
  }
  .skills ul li {
    align-items: center;
    background-color: #496464;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.09);
    cursor: pointer;
    display: flex;
    height: 7vh;
    width: 7vh;
    justify-content: center;
    margin: 1vh 1.8vh;
    animation: glowing 1s infinite;
  }
@keyframes glowing {
  0% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
  }
  100% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
  }
}
.skills ul li:hover {
  transform: scale(1.2);
}



.about_container{
  width: 100%;
  padding: 50px 8%;
  overflow-x: hidden;
}
.imagesection{
  grid-area: imageSect;
}
.infosection{
  grid-area: infoSect;
}
.qualitiesSection{
  grid-area: qualitiesSect;

}
.about_container .about_contents{
  padding: 1px 15px 15px 60px;
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-gap: 70px;
  grid-template-areas: 'imageSect infoSect'
                        'qualitiesSect qualitiesSect';
}
.about_contents .imagesection{
  margin-top: 35px;
  position: relative;
  min-width: 300px;
  height: 280px;
}
.imagesection img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 2;
}
.about_contents .imagesection::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  outline: 3px solid #789796;
  top: 15px;
  left: 15px;
  z-index: 1;
}
.infosection h1{
  color: rgb(249, 153, 169);
  font-size: 30px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 5px;
  position: relative;
}
.infosection h1::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  top: 110%;
  left: 0;
  background-color: #9ca4aa;
}
.infosection h1::after{
  content: '';
  position: absolute;
  width: 65%;
  height: 3px;
  top: calc(110% - 1px);
  left: 0px;
  background-color: #789796;
}
.infosection h2{
  color: rgb(226, 191, 197);
  font-size: 23px;
  font-weight: 400;
  padding: 10px 0 10px;
  text-transform: capitalize;
}
.infosection p{
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  padding-bottom: 20px;
}
.personalInfo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 20px;
  padding-bottom: 35px;
  border-bottom: 1.5px solid #789796;
}
.personalInfo div{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.infosection .copy-button{
  padding: 2px;
  background: none;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 30px;
}
.copy-button {
  display: inline-block;
  margin-left: 1vh;
  transition: transform 0.3s;
}
.copy-button:hover{
  transform: scale(1.2);
}
.copy-text{
  display: flex;
  position: absolute;
  margin-left: 15vh;
}
.check-icon {
  display: none;
  margin-left: 1.5vh;
  margin-top: 0.5vh;
}
.infosection .download-button{
  min-width: 150px;
  padding: 8px 18px;
  border: 2px solid #49908e;
  border-radius: 25px;
  font-size: 18px;
  background-color: transparent;
  color: whitesmoke;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.4s;
  margin-top: 20px;
}
.infosection button:hover{
  color: #49908e;
  border-color: whitesmoke;
}
.qualitiesSection{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 80px;
}
.qualitiesSection .subject{
  font-size: 17px;
  font-weight: thin;
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.progress_bar{
  width: 100%;
  height: 16px;
  background-color: transparent;
  padding: 4px 6px;
  border-top: 2px solid #000;
  border-bottom: 1.5px solid #444;
  border-radius: 15px;
}
.progress_line{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #789796;
  box-shadow: -1px -1px 2px #222222,
               1px 1px 2px #111111;
  border-radius: 15px;
}
.progress_line::after{
  position: absolute;
  content: attr(value);
  top: -35px;
  right: 0px;
  transform: translateX(-50%);
  font-size: 15px;
  font-weight: 400;
}




.timeline_container{
  max-width: 80%;
  padding: 2rem;
  padding-bottom: 70px;
  margin: 0 auto;
  /* min-width: 800px; */
  overflow-x: hidden;
}
.top-section{
  text-align: center;
  padding: 1rem 0 4rem;
  min-width: 600px;
  margin: 0 auto;
}
.top-section h1{
  margin-top: 1vh;
  font-size: 30px;
  letter-spacing: 1px;
  color: rgb(249, 153, 169);
  display: inline-block;
  margin-bottom: 5px;
  position: relative;
}
.top-section h1::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  top: 110%;
  left: 0;
  background-color: #9ca4aa;
}
.top-section h1::after {
  content: '';
  position: absolute;
  width: 70%;
  height: 3px;
  top: calc(110% - 1px);
  left: 0px;
  background-color: #789796;
}
.top-section p{
  margin-top: 2vh;
}
.timeline{
  position: relative;
  min-height: 150px;
}
.line{
  position: absolute;
  z-index: 2;
  left: calc(50% - 1px);
  width: 2px;
  top: -50px;
  bottom: -50px;
  background-color: #49908e;
}
.line:before,
.line:after{
  position: absolute;
  display: block;
  content: '';
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #49908e;
  left: 50%;
  transform: translateX(-50%);
}
.line:after{
  bottom: 0;
}
.section{
  display: flex;
  opacity: 0;
  transform: translateX(-100%);
  transition: 600ms ease;
  position: relative;
  z-index: 1;
  margin: 20px 0;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  min-height: 250px;
}
.section:nth-child(odd){
  flex-direction: row-reverse;
  transform: translateX(100%);
}
.bead{
  position: absolute;
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #49908e;
  left: calc(50% - 7.5px);
  top: 50%;
  transform: translateX();
  z-index: 3;
}
.tcontent{
  width: calc(50% - 2rem);
}
.tcontent h2{
  color: rgb(252, 200, 209);
  font-style: 20px;
}
.tcontent .date{
  margin: 0;
  font-size: 13px;
  color: rgb(255, 216, 224);
}
.tcontent p{
  margin: 1.1vh 0;
  font-size: 16px;
  color: white;
}
.tcontent span{
  font-weight: 700px;
  font-size: 18px;
  color: #7ebdbb;
  text-decoration: underline;
}
.show-me:nth-child(n){
  transform: none;
  opacity: 1;
}





.contact {
  background-color: #789796;
  /* padding: 5vh 0 3vh;
  margin: 1vh 0 0; */
}
.contact_container {
  padding: 1vh 10vh;
  text-decoration: none;
}
.contact_content {
  display: flex;
  flex-direction: column;
}

.contact_title h3 {
  font-size: 1.5rem;
  color: rgb(223, 219, 219);
}
.contact_title p {
  font-size: 30px;
  font-weight: 700;
  margin: 1vh 0;
  text-transform: uppercase;
  color: #133148;
}
.contact_icons {
  display: flex;
  flex-wrap: wrap;
  gap: 8vh;
  margin-top: 5vh;
  margin-left: 5vh;
  max-width: 100%;
}
.contact_icon-box {
  flex: 1 0 40%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: rgb(223, 219, 219);
}
.contact_info a{
  text-decoration: none;
  color: rgb(223, 219, 219);
}
.contact_info a:hover, .contact_info p:hover {
  color: #147efb;
  transition: all .3s;
}
.contact_icon-box span img{
  height: 5.5vh;
  width: 5.5vh;
}
.contact_info{
  display: flex;
  flex-direction: column;
  gap: 0.2vh;
}
.sprofiles {
  margin-top: 5vh;
}
.sprofiles ul{
  display: flex;
  align-items: center;
  left: 40%;
  position: relative;
  overflow-x: hidden;
}
@media (max-width: 730px) {
  .sprofiles ul{
    left: 30%;
  }
}
@media (max-width: 470px) {
  .sprofiles ul{
    left: 25%;
  }
}
.sprofiles a{
  margin-left: 3vh;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}
.sprofiles a:hover {
  transform: scale(1.1);
}
.back-to-top {
  position: absolute;
  right: var(--bs-gutter-x, 4rem);
}
.back-to-top a {
  margin-top: -3vh;
  width: 60px;
  height: 60px;
  background: #5f9d9b;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 8px 15px rgba(0, 0, 0, 2);
}





footer{
  padding: 2vh 0;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 12.5px;
}
.footerc {
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: rgb(223, 219, 219);

}
.footer-name{
  font-family: 'Dancing script', cursive;
  font-size: 30px;
  padding-left: 1vh;
}


  

@media(max-width: 1460px) {
  .name {
    font-size: 4rem;
  }
  .leftSection p{
    font-size: 25px;
    margin-top: 1px;
  }
}
@media(max-width: 1380px){
  .about_container .about_contents{
    grid-template-areas: 'imageSect qualitiesSect'
                          'infoSect infoSect';
  }
  .qualitiesSection{
    grid-template-columns: 1fr ;
    grid-gap: 20px;
  }
}
@media (max-width: 1176px) {
  .profile-img {
    width: 18rem;
    height: 18rem;
    margin-left: 10%;
  }
  .firstSection h1 {
    font-size: 2rem;
  }
  .name{
    font-size: 3rem;
  }
  .leftSection p{
    font-size: 19px;
    margin-top: 1px;
  }
  .leftSection img {
    height: 1.5rem;
    margin: 0 1vh 0 0;
  }
  .nav ul a {
    font-size: 10rem;
  }
  /* .left {
    margin-left: 5vh;
    font-size: 0.9rem;
  }
  .right{
    margin-right: 5vh;
  } */
}
@media(max-width: 1000px){
  .personalInfo{
    grid-template-columns: 1fr;
    grid-gap: 13px ;
  }
  .personalInfo div{
    display: flex;
  }
  .about_info{
    margin-left: 5vh;
  }
  .copy-text {
    margin-left: 13vh;
  }
  .contact_icons{
    left: 42%;
    margin: 5vh 5vh 1vh 5vh;
  }
  .timeline_container {
    max-width: 90%;
}
}
@media(max-width: 958px){
  .about_container .about_contents{
    grid-template-areas: 'imageSect imageSect'
                          'infoSect infoSect'
                          'qualitiesSect qualitiesSect';
  }
}
@media (max-width: 900px) {
  .profile-img {
    width: 15rem;
    height: 15rem;
  }
  .name{
    font-size: 2rem;
  }
  .leftSection p{
    font-size: 14px;
    margin-top: 1px;
  }
  .firstSection h1 {
    font-size: 1.4rem;
  }
  nav .center a{
    font-size: 1.9rem;
    margin-left: 10vh;
  } 
  nav .left {
    font-size: 0.9rem;
  }
  nav .left ul{
    gap: 1.5rem;
  }
  nav .right ul{
    gap: 1.5rem;
    margin-right: 10vh;
  }

  .infosection h1 {
    font-size: 25px;
  }
  .infosection h2 {
    font-size: 20px;
  }
  .infosection p {
    font-size: 14px;
  }
  .personalInfo span{
    font-size: 14px;
  }
  .qualitiesSection .subject{
    font-size: 16px;
  }

  .top-section h1 {
    font-size: 25px;
  }
  .top-section p {
    font-size: 14px;
  }
  .tcontent h2 {
    font-size: 20px;
  }
  .tcontent p {
    font-size: 14px;
  }
  .tcontent span {
    font-size: 14px;
  }

  .contact_title h3 {
    font-size: 1.4rem;
  }
  .contact_title p {
    font-size: 1.5rem;
  }
}

@media(max-width: 818px){
  .contact_title h3 {
    font-size: 1rem;
  }
  .contact_title p {
    font-size: 1.3rem;
  }
  .contact_info h3{
    font-size: 1rem;
  }
  .contact_info p{
    font-size: 0.9rem;
  }
  nav .center a{
    font-size: 1.5rem;
    margin-left: 8vh;
  } 
  nav .right ul{
    gap: 1.5rem;
    margin-right: 8vh;
  }
}

@media (max-width: 690px) {
  nav .left,
  nav .right{
    display: none;
  }
  nav .toggle_btn{
    display: block;
  }
  .dropdown_menu{
    display: block;
  }
  
}